##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

[DEFAULT]

# Ban hosts for one hour:
bantime = 3600

# Override /etc/fail2ban/jail.d/00-firewalld.conf:
banaction = iptables-multiport

# Email notifications:
destemail = {{ fail2ban_report_email_address }}
sendername = Fail2Ban

# Choose which log file to scan:
logpath  = /var/log/auth.log

# Specify the services to monitor:
[sshd]
enabled = true
port    = {{ fail2ban_ssh_port }}
